*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

.left-bar,
.right-bar {
  display: none;
}

.top-bar {
  height: 20vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: white;
}

@media (min-width: 1050px) {

  .left-bar,
  .right-bar {
    display: block;
    height: 100vh;
    width: 20%;
    position: absolute;
    z-index: 10;
    background: white;
  }

  .left-bar {
    left: 0;
    top: 0;
  }

  .right-bar {
    right: 0;
    top: 0;
  }
}

.kusuri {
  background: #F7FDF6;
}

.pillar {
  background: #8DB5CE;
}

.kahe {
  background: #D0E6EA;
}

.misc {
  background: lightgreen;
}

.about {
  background: #BDD5CB;
}

main {
  height: 100vh;
  width: 100%;
}

.kusuri,
.pillar,
.kahe,
.misc,
.about {
  z-index: 1;
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.kusuri .home-content,
.kusuri .about-content,
.pillar .home-content,
.pillar .about-content,
.kahe .home-content,
.kahe .about-content,
.misc .home-content,
.misc .about-content,
.about .home-content,
.about .about-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* If you want text on top just take out reverse */
  flex-direction: column-reverse;
}

.home-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-presentation {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.kusuri .home-content h1,
.kusuri .about-content h1,
.pillar .home-content h1,
.pillar .about-content h1,
.kahe .home-content h1,
.kahe .about-content h1,
.misc .home-content h1,
.misc .about-content h1,
.about .home-content h1,
.about .about-content h1 {
  font-size: 10vmin;
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kusuri .home-content h3,
.kusuri .about-content h3,
.pillar .home-content h3,
.pillar .about-content h3,
.kahe .home-content h3,
.kahe .about-content h3,
.misc .home-content h3,
.misc .about-content h3,
.about .home-content h3,
.about .about-content h3 {
  font-size: 3vmin;
  font-family: poppins, sans-serif;
  font-weight: 300;
}

.kusuri .home-content p,
.kusuri .about-content p,
.pillar .home-content p,
.pillar .about-content p,
.kahe .home-content p,
.kahe .about-content p,
.misc .home-content p,
.misc .about-content p,
.about .home-content p,
.about .about-content p {
  font-size: 2vmin;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  white-space: wrap;
  max-width: 400px;
}

@media (min-width: 1050px) {

  .kusuri,
  .pillar,
  .kahe,
  .misc,
  .about {
    z-index: 1;
    /* height: 60vh; */
    width: 60%;
    position: absolute;
    top: calc(50% - 30vh);
    left: 20%;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }


  .kusuri .home-content,
  .kusuri .about-content,
  .pillar .home-content,
  .pillar .about-content,
  .kahe .home-content,
  .kahe .about-content,
  .misc .home-content,
  .misc .about-content,
  .about .home-content,
  .about .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about .home-content {
    height: 60vh;
    overflow: hidden;
  }

  .about .home-presentation {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
  }

  .about .home-image img {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 40%;
    object-fit: cover;
  }

  .featured-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }




  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: Starling, serif;
    margin: 0;
  }

  *,
  *::before,
  *::after {
    font-family: Freight Sans Pro, sans-serif;
    font-weight: 300;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    z-index: 11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: uppercase;
  }

  header .site-branding {
    margin-left: 5%;
  }

  header .site-branding h1 {
    color: #7F9F92;
    /* margin-top: 1.2em; */
    line-height: 1em;
    font-size: 18px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  header .site-branding h3 {
    color: #7F9F92;
    display: none;
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  header .top-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 5%;
    grid-gap: 20px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  header .top-nav a {
    height: 5vh;
    text-decoration: none;
    color: #325547;
    font-size: 12px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    /* padding-bottom: 2px; */
    border-bottom: 4px solid transparent;
  }

  header .top-nav a:hover {
    border-bottom: 1px solid #325547;
  }

  @media (min-width: 1050px) {
    header {
      align-items: flex-start;
      padding-top: 3em;
    }

    header .site-branding h1 {
      font-size: 36px;
    }

    header .site-branding h3 {
      display: block;
    }

    header .top-nav a {
      font-size: 18px;
    }
  }

  nav {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .nav-items {
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    z-index: 900;
  }

  .nav-items a {
    text-decoration: none;
    color: #325547;
    font-size: 3vmin;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .nav-items a:hover {
    color: #91b6a7;
  }

  .nav-items a.selected {
    font-weight: 700;
    font-family: poppins, sans-serif;
    font-style: normal;
  }

  @media (min-width: 768px) {
    nav .nav-items {
      width: 60%;
    }
  }

  .social-links {
    padding-top: 0;
    padding-bottom: 1em;
  }

  .social-links {
    display: flex;
    align-content: center;
  }

  .social-links ul {
    margin: 0;
    margin-top: .5em;
    padding: 0;
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  .social-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    overflow: hidden;

  }

  .social-links ul li a {
    display: block;
    padding: 0;
    /* margin-top: 1em; */
  }

  .social-links img {
    /* height: 100%; */
    object-fit: contain;
    width: 100%;
    /* height: auto; */
    padding: 0;
  }

  .about .home-presentation {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
  }

  .about .home-content h1 {
    font-size: 3em;
  }

  .about .home-content p {
    padding-bottom: 1em;
  }

  .about .home-presentation .container {
    display: flex;
    flex-direction: column;
  }

  /* BUTTON */

  button {
    font-size: inherit;
  }

  button,
  a.button {
    display: inline-block;
    background-color: #7F9F92;
    border: 1px solid #ffd1d1;
    color: #fff;
    padding: .75em 1em;
    -webkit-border-radius: .32em;
    -moz-border-radius: .32em;
    border-radius: .32em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    cursor: pointer;
    line-height: 1em;
  }

  button.alt,
  a.button.alt {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ffd1d1;
    color: #ffd1d1;
  }

  button:hover,
  a.button:hover {
    background-color: #fca9a9;
    color: #fff;
    border-color: #fca9a9;
    text-decoration: none;
  }